/* styles.css */
.snippiece_tooltip_container_main{
   width: unset;
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: unset;
    box-shadow: none;
    z-index: 999;
    position: absolute;
    bottom: unset;
    right: unset;
    top: 0;
    left: 0;
}
.snippiece_tooltip_container {
    width: max-content;
    max-width: 400px;
    margin: 0;
    padding: 0;
    background-color: #393E46;
    padding: 8px;
    color: #EEEEEE;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0.5em;
    position: absolute;
    inset: auto auto 0px 0px;
    z-index: 999;
}

.snippiece_bubble_tooltip {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: unset;
    box-shadow: none;
}
.snippiece_bubble_tooltip::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    margin-left: -5px;
    border-width: 5px;
    border-color: #393E46 transparent transparent transparent;;
  }

.snippiece_bubble_copyButton{
    padding: 5px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}